.wrapper {
  margin-bottom: 20px;
  width: 360px;
}

.label {
  font-weight: 500;
  color: #333;
  font-size: 14px;
}

.inputWrapper {
  position: relative;
  width: 100%;
  max-width: 360px;
}

.input {
  width: 100%;
  padding: 8px 10px 8px 36px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  transition: border-color 0.2s;
}

.input:focus {
  border-color: #968858;
  outline: none;
}

.icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #968858;
  font-size: 16px;
  pointer-events: none;
}
