.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
}

.title {
  margin-bottom: 20px;
}

.noResults {
  font-size: 18px;
  color: #999;
  text-align: center;
  margin-top: 20px;
}
